@use "sass:math";
@import 'design-system';
@import 'Calculator';
@import 'Hero';
@import 'Results';
@import 'Tips';
@import 'Limitations';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Inter";
    font-size: 62.5%;
    overflow-x: hidden;
}
fieldset{
    border: none;
}
#root{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $white;
}
.pageContent{
    width: 100%;
    @include flex(column, flex-start, center);
}
.container{
    @media screen and (max-width: 450px){
        width: 100%;
        padding-left:  2.4rem;
        padding-right: 2.4rem;
    }
    @media screen and (min-width: 450px) and (max-width: 1024px){
        width: 100%;
        padding-left:  4rem;
        padding-right: 4rem;
    }
    @media screen and (min-width: 1024px){
        width: clamp(90rem, 80.5vw, 130rem);
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

