@font-face {
  font-family: "Inter Regular";
  src: url(../assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter Semi Bold";
  src: url(../assets/fonts/static/Inter-SemiBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter";
  font-size: 62.5%;
}

fieldset {
  border: none;
}

#root {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #FFFFFF;
}

@media screen and (max-width: 450px) {
  .pageContent {
    width: 100%;
    padding: 3.2rem 2.4rem;
  }
}
@media screen and (min-width: 450px) and (max-width: 1024px) {
  .pageContent {
    width: 100%;
    padding: 3.2rem 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .pageContent {
    width: 100%;
    padding: 8.8rem 14.4rem;
  }
}

.hero {
  width: 100%;
  display: grid;
  gap: 2.4rem 3.2rem;
  justify-items: center;
}
@media screen and (max-width: 450px) {
  .hero {
    gap: 3.2rem 0;
  }
}
@media screen and (min-width: 450px) and (max-width: 1024px) {
  .hero {
    gap: 4rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    justify-items: flex-start;
    align-items: center;
  }
  .hero .logo {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .hero .hero__content {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .hero .calculator {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.logo img {
  width: 4rem;
  height: 4rem;
}
@media screen and (min-width: 1024px) {
  .logo img {
    width: 6.4rem;
    height: 6.4rem;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.4rem 0;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hero__content {
    text-align: left;
  }
}

.hero__title {
  color: #253347;
  font-family: "Inter Semi Bold";
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -5%;
}
@media screen and (min-width: 1024px) {
  .hero__title {
    font-family: "Inter Semi Bold";
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -5%;
  }
}

.hero__description {
  color: #5E6E85;
  font-family: "Inter Regular";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
}

.hero__gradient {
  width: 100%;
  height: 500px;
  background: linear-gradient(#D6FCFE, #D6E6FE);
}

.calculator {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3.2rem 0;
  background-color: #FFFFFF;
  border-radius: 1.6rem;
  padding: 3.2rem;
  box-shadow: 1.6rem 3.2rem 5.6rem 0 rgba(143, 174, 207, 0.25);
}
@media screen and (max-width: 450px) {
  .calculator {
    gap: 2.4rem 0;
    padding: 2.4rem;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem 2.4rem;
}
.form .calculator__title {
  grid-column: 1/3;
}
@media screen and (max-width: 450px) {
  .form {
    gap: 2.4rem 1.6rem;
  }
  .form .metrics__height-wrapper, .form .metrics__weight-wrapper {
    grid-column: 1/3;
  }
}
.form .calculator__result {
  grid-column: 1/3;
}

.calculator__title {
  color: #253347;
  font-family: "Inter Semi Bold";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -5%;
}

.metrics__wrapper-height-imperial,
.metrics__wrapper-weight-imperial {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 2.4rem;
}
@media screen and (max-width: 450px) {
  .metrics__wrapper-height-imperial,
  .metrics__wrapper-weight-imperial {
    gap: 0 1.6rem;
  }
}

.metrics__name {
  color: #5E6E85;
  font-family: "Inter Regular";
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  margin-bottom: 0.8rem;
}

.input {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0 1.6rem;
}

.input-radio {
  appearance: none;
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 100%;
  outline: 0.1rem solid #5E6E85;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .input-radio:hover {
    outline: 0.25rem solid #345FF6;
  }
}

.input-radio:checked {
  background-color: #E1E7FE;
  outline-color: #E1E7FE;
  outline: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23345FF6'/%3e%3c/svg%3e");
}

.content-radio {
  color: #253347;
  font-family: "Inter Semi Bold";
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
}

.input-number {
  width: 100%;
  outline: 0.1rem solid #5E6E85;
  border: none;
  border-radius: 1.2rem;
  padding: 2.4rem;
  color: #253347;
  font-family: "Inter Semi Bold";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -5%;
}
@media screen and (min-width: 1024px) {
  .input-number:hover {
    outline: 0.3rem solid #345FF6;
  }
}
.input-number:active {
  filter: brightness(91%);
}
.input-number:focus {
  outline: 0.1rem solid #345FF6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.content-number {
  position: absolute;
  top: 31%;
  right: 2.4rem;
  color: #345FF6;
  font-family: "Inter Semi Bold";
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -5%;
}

.calculator__result {
  width: 100%;
  background-color: #345FF6;
  padding: 3.2rem;
  border-radius: 1.6rem 10rem 10rem 1.6rem;
  color: #FFFFFF;
}
@media screen and (max-width: 450px) {
  .calculator__result {
    border-radius: 1.6rem;
  }
}

/*# sourceMappingURL=App.css.map */
